.wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-list {
    display: grid;
    grid-area: card-list;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
    gap: 70px 50px;

    margin-bottom: 50px;
}

@media (width <= 1024px) {
    .card-list {
        grid-template-columns:  repeat(auto-fit, minmax(130px, 1fr));
        gap: 25px 15px;
        margin-bottom: 20px;
    }
}