.field {
    cursor: pointer;

    display: inline-flex;
    align-items: center;

    width: 35px;
    height: 20px;

    background-color: var(--dark-gray);
    border-radius: 9999px;
}

.field[data-checked] {
    background-color: var(--accent)
}

.field[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.ball {
    transform: translateX(3px);

    width: 14px;
    height: 14px;

    background-color: var(--white);
    border-radius: 9999px;

    transition: transform 0.2s ease;
}

.field[data-checked] .ball {
    transform: translateX(18px);
}