.menu {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;

    margin: 50px 0 20px;
    padding-bottom: 20px;

    font-size: 16px;
    font-weight: 400;


    border-bottom: 1px solid var(--gray);
}

.left-panel {
    display: flex;
    gap: 60px;
    align-items: center;

    padding-right: 60px;

    border-right: 1px solid var(--dark-gray);
}

.right-panel {
    display: flex;
    align-items: center;
}

.icon {
    display: inline-flex;
    margin-right: 40px;
}

.search {
    display: none;
    margin: 0 20px;
}

.search-active {
    display: block;
}

.search-icon {
    cursor: pointer;
    margin-right: 40px;
    margin-left: 60px;
}

.icon-hidden {
    display: none;
}

.active {
    position: relative;
}

.active::after {
    content: '';

    position: absolute;
    bottom: -26px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: var(--black);
}

@media (width <= 768px) {
    .menu {
        display: none;
    }
}