:root {
    --gray: #D8D8D8;
    --light-gray: #EFEFEF;
    --dark-gray: #707070;
    --errors: #D82700;
    --white: #FFFFFF;
    --black: #000000;
    --accent: #A18A68;
    --padding-l: 0 100px;
    --padding-m: 0 50px;
    --padding-s: 0 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    color: var(--black);
    background: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select,
input::placeholder,
textarea::placeholder {
    font: inherit;
}

button,
input,
textarea {
    background: none;
    border: none;
}