.wrapper {
    position: relative;
}

.wrapper img {
    border-radius: 16px;
}

.info {
    position: absolute;
    top: 35%;
    left: 40px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 33px;
    font-weight: 500;
    line-height: 43px;
    color: var(--white);
}

.price {
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
}

.wrapper button {
    align-self: start;

    margin-top: 35px;
    padding: 15px 50px;

    color: var(--white);

    background: none;
    border: 1px solid var(--white);
}

.wrapper button:hover {
    background: var(--accent);
}