.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover {
    border: 2px solid var(--accent) !important;
}

.image-gallery-bullets {
    bottom: -20px !important;
    width: 100% !important;
    margin: 0 !important;
}

.image-gallery-bullets-container {
    display: flex;
    width: 100% !important;
}

.image-gallery-bullet {
    width: 100% !important;
    height: 2px !important;
    margin: 0 !important;
    padding: 0 !important;

    background: var(--gray) !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.image-gallery-bullet.active {
    transform: none !important;
    background: var(--dark-gray) !important;
}