.cart-form {
    display: flex;
    flex-direction: column;
    gap: 50px;

    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.email,
.password,
.address,
.name,
.phone {
    position: relative;
}

.cart-form input {
    width: 100%;
}

.error-message {
    position: absolute;
    left: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: var(--errors);
}

.total-price {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 20px;

    background: var(--light-gray);
    border-radius: 4px;
}

.total-price hr {
    height: 1px;
    background: var(--gray);
    border: none;
}

.price{
    display: flex;
    justify-content: space-between;
}

.cart-form button {
    margin-top: -25px;
}